useDynLib(nanomsgardvark)

export(
       nn,
       nn.version,
       nn.errno,
       nn.strerror,
       nn.clearerr,
       nn.socket,
       nn.close,
       nn.term,
       nn.bind,
       nn.connect,
       nn.shutdown,
       nn.getsockopt,
       nn.setsockopt,
       nn.send,
       nn.recv,
       nn.is.recv.err,
       nn.is.send.err,
       nn.is.connect.err,
       nn.is.bind.err,
       nn.genconst,
       nn.NS_NAMESPACE,
       nn.NS_VERSION,
       nn.NS_DOMAIN,
       nn.NS_TRANSPORT,
       nn.NS_PROTOCOL,
       nn.NS_OPTION_LEVEL,
       nn.NS_SOCKET_OPTION,
       nn.NS_TRANSPORT_OPTION,
       nn.NS_OPTION_TYPE,
       nn.NS_FLAG,
       nn.NS_ERROR,
       nn.NS_LIMIT,
       nn.TYPE_NONE,
       nn.TYPE_INT,
       nn.TYPE_STR,
       nn.UNIT_NONE,
       nn.UNIT_BYTES,
       nn.UNIT_MILLISECONDS,
       nn.UNIT_PRIORITY,
       nn.UNIT_BOOLEAN,
       nn.VERSION_CURRENT,
       nn.VERSION_REVISION,
       nn.VERSION_AGE,
       nn.AF_SP,
       nn.AF_SP_RAW,
       nn.INPROC,
       nn.IPC,
       nn.TCP,
       nn.PAIR,
       nn.PUB,
       nn.SUB,
       nn.REP,
       nn.REQ,
       nn.PUSH,
       nn.PULL,
       nn.SURVEYOR,
       nn.RESPONDENT,
       nn.BUS,
       nn.SOCKADDR_MAX,
       nn.SOL_SOCKET,
       nn.LINGER,
       nn.SNDBUF,
       nn.RCVBUF,
       nn.SNDTIMEO,
       nn.RCVTIMEO,
       nn.RECONNECT_IVL,
       nn.RECONNECT_IVL_MAX,
       nn.SNDPRIO,
       nn.SNDFD,
       nn.RCVFD,
       nn.DOMAIN,
       nn.PROTOCOL,
       nn.IPV4ONLY,
       nn.SOCKET_NAME,
       nn.SUB_SUBSCRIBE,
       nn.SUB_UNSUBSCRIBE,
       nn.REQ_RESEND_IVL,
       nn.SURVEYOR_DEADLINE,
       nn.TCP_NODELAY,
       nn.DONTWAIT,
       nn.EADDRINUSE,
       nn.EADDRNOTAVAIL,
       nn.EAFNOSUPPORT,
       nn.EAGAIN,
       nn.EBADF,
       nn.ECONNREFUSED,
       nn.EFAULT,
       nn.EFSM,
       nn.EINPROGRESS,
       nn.EINTR,
       nn.EINVAL,
       nn.EMFILE,
       nn.ENAMETOOLONG,
       nn.ENETDOWN,
       nn.ENOBUFS,
       nn.ENODEV,
       nn.ENOMEM,
       nn.ENOPROTOOPT,
       nn.ENOTSOCK,
       nn.ENOTSUP,
       nn.EPROTO,
       nn.EPROTONOSUPPORT,
       nn.ETERM,
       nn.ETIMEDOUT,
       nn.EACCES,
       nn.ECONNABORTED,
       nn.ECONNRESET,
       nn.EHOSTUNREACH,
       nn.EMSGSIZE,
       nn.ENETRESET,
       nn.ENETUNREACH,
       nn.ENOTCONN
       )
       
